<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>17.毕业论文模板.dot</Template><TotalTime>767</TotalTime><Pages>104</Pages><Words>8455</Words><Characters>48200</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>401</Lines><Paragraphs>113</Paragraphs><ScaleCrop>false</ScaleCrop><Company>jndx</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>56542</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>