<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>17.毕业论文模板.dot</Template><Company>jndx</Company><Pages>1</Pages><Words>1966</Words><Characters>11210</Characters><Lines>1</Lines><Paragraphs>1</Paragraphs><TotalTime>52</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>13150</CharactersWithSpaces><Application>WPS Office_12.1.0.16120_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>